@using SmartContractEthereum.Domain.Entities.Manager;

@{ string login = (Account)HttpContext.Current.Session["Account"] != null ? ((Account)HttpContext.Current.Session["Account"]).Login : null; }

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + @login + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manager" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Deslogar</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
